* {
  padding: 0;
  margin: 0;
}

.countriesList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem 10rem;
}

.noneCountry {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: #ffffff;
}

.fixedAnchor {
  scale: (1.5);
  height: 3rem;
  position: fixed;
  bottom: 5px;
  right: 20px;
  z-index: 1000;
}

@media (min-width: 1550px) {
  .fixedAnchor {
    scale: (3);
    right: 30px;
  }
}

@media (max-width: 770px) {
  .countriesList {
    grid-template-columns: repeat(2, 2fr);
    gap: 5rem 7rem;
  }

  .fixedAnchor {
    scale: (2);
    bottom: 20px;
    right: 40px;
  }

  .noneCountry {
    h1 {
      font-size: 4rem;
    }
  }
}

@media (max-width: 430px) {
  .countriesList {
    display: flex;
    flex-direction: column;
  }

  .fixedAnchor {
    scale: (3);
    bottom: 20px;
    right: 40px;
  }

  .noneCountry {
    h1 {
      font-size: 5rem;
    }
  }
}
