* {
  padding: 0;
  margin: 0;
}

.card {
  gap: 1rem 1rem;
  background-color: #222222;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50vh;
  border: solid 1px #999999;
  color: #ffffff;
  transition: 0.5s;
  align-self: center;
}

.card:hover {
  border-color: #505090;
  box-shadow: 0px 0px 100px #505090;
}

.countryInfo {
  display: flex;
  align-items: center;
  margin: -2rem 0 0 2rem;
}

.flag {
  width: 50vh;
  align-self: center;
  object-fit: cover;
  margin-bottom: 1rem;
}

.commonName {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0.1rem 0 0.5rem 0;
  text-align: center;
}

.officialName {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: -1rem 0 0.5rem 0;
  text-align: center;
}

.capital,
.area,
.population,
.continents {
  margin: 0.5rem 1rem 0.5rem 1rem;
  width: 20vh;
  font-size: 1rem;
  p {
    color: #999999;
  }
}

.coatOfArms {
  margin: -2rem 0 0 0;
  width: 5rem;
  align-self: center;
}

.coatOfArmsText {
  align-self: center;
  color: #999999;
  margin: 1rem 0 2rem 0;
}

.coatOfArmsDiv {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
}

@media (min-width: 1550px) {
  .commonName {
    font-size: 5rem;
  }

  .officialName {
    font-size: 3rem;
  }

  .capital,
  .area,
  .population,
  .continents {
    font-size: 2rem;
  }

  .coatOfArms {
    width: 12rem;
  }

  .coatOfArmsText {
    font-size: 2.5rem;
  }
}

@media (max-width: 770px) {
  .card {
    width: 90vh;
  }

  .flag {
    width: 90vh;
  }

  .commonName {
    font-size: 5rem;
  }

  .officialName {
    font-size: 3rem;
  }

  .capital,
  .area,
  .population,
  .continents {
    font-size: 2rem;
    width: 40vh;
  }

  .coatOfArms {
    width: 12rem;
  }

  .coatOfArmsText {
    font-size: 2.5rem;
  }
}

@media (max-width: 430px) {
  .card {
    width: 100%;
  }

  .flag {
    width: 210vh;
  }

  .commonName {
    font-size: 12rem;
  }

  .officialName {
    font-size: 5rem;
  }

  .capital,
  .area,
  .population,
  .continents {
    font-size: 4rem;
    width: 80vh;
    margin-left: 5rem;
  }

  .coatOfArms {
    width: 17rem;
  }

  .coatOfArmsText {
    font-size: 4rem;
  }
}
